{% extends "base.html" %}

{% block content %}
<h1>Dashboard Page</h1>
<p>Welcome to the Home Page!</p>

<!-- Slider Container -->
<div class="">
    <div class=" p-0">
        {% include 'components/widgetslider.html' %}
    </div>
    <div class="d-flex gap-4 mb-4">
        <div class="card col p-4">
            {% include 'components/charts/chart.html' %}
        </div>
        <div class="card col p-4">
            {% include 'components/charts/splinecharts.html' %}
        </div>
    </div>

    <div class="d-flex gap-4">
        <div class="card col-8 p-4">
            {% include 'components/charts/piechart.html' %}
        </div>
        <div class="card col">
            <div id="chartContainer" style="height: 370px; width: 100%;"></div>
        </div>
    </div>
</div>


{% endblock %}
