<div class="sidebar col-2 bg-primary text-white p-4" style="height: 94vh;">
    <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <a class="nav-link text-white nav-link-load" data-url="/home" href="#">
                <i class="fa-solid fa-house"></i>
                <span>Home</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white " href="{{ url_for('dashboard') }}" onclick="refreshPage()">
                <i class="fa-solid fa-chart-line"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white nav-link-load" data-url="/about" href="#">
                <i class="fa-solid fa-book-open"></i>
                <span>About</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white nav-link-load" data-url="/booking" href="#">
                <i class="fa-solid fa-book-open"></i>
                <span>Bookings</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white nav-link-load" data-url="/checkin" href="#">
                <i class="fa-solid fa-bed"></i>
                <span>Checkin</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white nav-link-load" data-url="/room" href="#">
                <i class="fa-solid fa-door-open"></i>
                <span>Rooms</span>
            </a>
        </li>
    </ul>
</div>
